@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&display=swap");

html,
body {
  --heading: rgba(255, 255, 255, 0.6);
  --text: rgba(255, 255, 255, 0.8);
  --purple: rgba(146, 108, 255, 0.8);
  --navy: rgba(0, 17, 77, 0.8);
  --ice: #d4f5ff;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  color: var(--text);
  background: url("gggrain.svg"),
    linear-gradient(127deg, rgba(46, 75, 218, 1), rgba(46, 75, 218, 0) 70.71%),
    linear-gradient(
      217deg,
      rgba(101, 194, 218, 1),
      rgba(101, 194, 218, 0) 70.71%
    ),
    linear-gradient(336deg, rgba(72, 47, 205, 1), rgba(72, 47, 205, 0) 70.71%);
}

body {
  padding: 4rem;
}

h1,
h2,
h3,
hr {
  color: var(--heading);
}

a {
  color: var(--heading);
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: var(--ice);
    text-shadow: 0 0 5px var(--ice);
  }
}

* {
  box-sizing: border-box;
}
