.main {
  padding: 4rem;
}
.feedback {
  margin-top: 6rem;
  iframe {
    margin: auto;
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  nav a {
    font-size: 1.25rem;
  }
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  h1 {
    font-size: 3rem;
    text-align: left;
    margin: 0;
  }
  .text {
    padding-left: 5rem;
    flex: 1;
  }
  .image {
    padding: 2rem;
    flex: 1;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    padding: 4rem 0rem;
  }
  .nav {
    display: none;
  }
  .text {
    padding: 0 !important;
    h1 {
      font-size: 2rem !important;
    }
  }
  .image {
    padding: 0 !important;
    padding-top: 1rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .intro {
    display: block;
    .text {
      padding: 2rem;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding-top: 2rem;
  border-top: 3px solid var(--heading);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
